<% if !@past_date %>
<% notification = false %>

    <% if @travel_times.length==0 %>

        <div class="well well-sm">No buses available. </div>

    <% else %>


        <div class="well well-sm">Buses leaving the terminus during the coming hour cannot be chosen. Please make sure you turn up for your bus.</div>

<strong>Route:</strong> <%=params[:origin]%> to <%=params[:destination]%> <br>
<strong>Date:</strong> <%=params[:date]%> <br>
<strong>Pick your time:</strong>


<form name="time_pick" method="post" action="show_seats" >


<input type="hidden" name="date" value="<%=params[:date]%>">
<input type="hidden" name="origin" value="<%=params[:origin]%>">
<input type="hidden" name="destination" value="<%=params[:destination]%>">
<input type="hidden" name="current_commuter" value="<%=params[:current_commuter]%>" >

<div style="text-align: center">


  <% for i in 0..@travel_times.length-1 %>

      <%# If time starts with asterisk it means that bus doesn't stop on dublin city stops
         we want to set notification to true, so that message is only displayed once %>
      <% if @travel_times[i][0][0] == '*'%>
          <% notification = true %>


          <button type="submit" name="time_and_route" class="btn btn-warning btn-lg" value="<%=@travel_times[i]%>">
            <%=@travel_times[i][0]%>

          </button>

      <% else %>
          <button type="submit" name="time_and_route" class="btn btn-default btn-lg" value="<%=@travel_times[i]%> ">
            <%=@travel_times[i][0]%>


          </button>
      <% end %>


  <% end %>

  <% end %>

</div>

</form>

<% if notification %>
    <li class="list-group-item list-group-item-warning">*No Dublin City stops served</li>
<% end %>

<% else %>
    <li class="list-group-item list-group-item-danger">You picked date in the past</li>

<% end %>

</br></br><center>
<a  class="btn btn-primary" href="/home" role="button" >Home</a>
  </br></br></br>
</center>