<% if current_commuter %>


<%if !mobile_device? %>

        <h3 style="margin-left: 10px">Your active reservations (<%= @activeReservations.length %>) </h3>

        <table class="table table-striped">
          <tr>
            <th>Origin</th>
            <th>Destination</th>
            <th>Time</th>
            <th>Date</th>
            <th> </th>
          </tr>


             <% for i in 0..@activeReservations.length-1 %>

              <tr>
                <td> <%= @activeReservations[i].origin %> </td>
                <td> <%= @activeReservations[i].destination %> </td>
                <td> <%= @activeReservations[i].time %> </td>
                <td> <%= @activeReservations[i].date %> </td>
                <td>
                  <form action="reservation_canceled">
                    <input type="hidden" name="reservation" value="<%= @activeReservations[i].id%>">
                    <input class="btn btn-danger" type="submit" name="go" value="Cancel" >
                  </form>
                </td>
              </tr>

          <% end %>
        </table>


<% else %>




        <div style="font-size: 100%">Your active reservations (<%= @activeReservations.length %>)</div><br>

        <% for i in 0..@activeReservations.length-1 %>

        <div class="panel-group">
          <div class="panel panel-default" >
            <div class="panel-heading">
              <h5 class="panel-title" style="font-size: 100%">
                <a data-toggle="collapse" data-parent="#accordion"  href="#<%= i %>">
                  <%= @activeReservations[i].origin %> - <%= @activeReservations[i].destination %>
                </a>
              </h5>
            </div>

            <div id="<%= i %>" class="panel-collapse collapse">
              <div class="panel-body" >
                From: <%= @activeReservations[i].origin %> <br>
                To: <%= @activeReservations[i].destination %> <br>
                Time: <%= @activeReservations[i].time %> <br>
                Date: <%= @activeReservations[i].date %> <br><br>
                <form action="reservation_canceled">
                  <input type="hidden" name="reservation" value="<%= @activeReservations[i].id%>">
                  <input class="btn btn-danger" type="submit" name="go" value="Cancel" >
                </form>
              </div>
            </div>
          </div>
    </div>



        <% end %>



<% end %>




    </br></br></br>
    <p><a id="home_button" class="btn btn-primary" href="/home" role="button">Home</a></p>
    </br></br></br>



<% else %>

    <% flash[:error] = "You need to be logged in" %>

<% end %>
