<% if admin %>


<% if !mobile_device? %>

<h3 style="margin-left: 10px">List of all users</h3>


        <table class="table table-bordered table-hover"  >
      <th>Username</th>
      <th>Email</th>
      <th>Mobile</th>
      <th>Missed buses</th>
      <th>Active / Suspended</th>



      <% @allusers.each do  |user| %>

          <tr>
            <td> <b><%= user.username %></b><br> </td>
            <td> <b><%= user.email %></b><br> </td>
            <td> <b><%= user.mobile %></b></td>
            <td> <b><%= user.missed %></b></td>
            <td> <b>

              <% if user.suspended %>
                  Suspended
              <% else %>
                  Active
              <% end %>

            </b></td>


          </tr>

      <% end %>

    </table>


<% else %>

   <h4>List of all users</h4>

    <table class="table table-condensed" id="mobile-table-full-margins" style="word-wrap: normal">

      <th>Username</th>
      <th>Email</th>
      <th>Mobile</th>



      <% @allusers.each do  |user| %>

          <tr>
            <td> <b><%= user.username %></b><br> </td>
            <td> <b><%= user.email %></b><br> </td>
            <td> <b><%= user.mobile %></b></td>

          </tr>

      <% end %>



    </table>


<% end %>

    </br></br></br>
    <p> <a id="home_button" class="btn btn-primary" href="/home" role="button">Home</a></p>
    </br></br></br>

<% else %>

    <% flash[:error] = "You need administrator account to view this page" %>

<% end %>