<% if admin %>

<p>Create New Commuter</p>

<%= form_for Commuter.new, :as => :commuter, :url => create_commuter_path do |f| %>
    <p>
      <%= f.label 'username:' %><br/>
      <%= f.text_field :username, :id => "input_fields" %>
    </p>
    <p>
      <%= f.label 'email:' %><br/>
      <%= f.text_field :email, :id => "input_fields", :type => "email"%>

    </p>

    <p>
      <%= f.label 'mobile:' %><br/>
      <%= f.text_field :mobile, :id => "input_fields" %>

    </p>

    <p>
      <%= f.label 'password:' %><br/>
      <%= f.password_field :password, :id => "input_fields" %>

    </p>
    <p>
      <%= f.label 'password confirmation:' %><br/>
      <%= f.password_field :password_confirmation, :id => "input_fields" %>
    </p>

    <p>
      <%= f.submit 'Create New User' %>&nbsp;&nbsp;&nbsp;
      <%= f.submit 'Clear Form', :type => 'reset' %>
    </p>
<% end %>


    </br></br></br>
    <p> <a id="home_button" class="btn btn-primary" href="/home" role="button">Home</a></p>
    </br></br></br>
<% else %>

<% flash[:error] = "You need administrator account to view this page" %>

<% end %>
