






<% if admin || driver %>

    <% if @reservations_for_540.length == 0 && @reservations_for_545.length == 0 && @reservations_for_550.length == 0 && @reservations_for_555.length == 0%>

   <h3>No reservations for today</h3>

</br></br></br>
    <p> <a id="home_button" class="btn btn-primary" href="/home" role="button">Home</a></p>

    <% else %>


<!-- DESKTOP DEVICE -->

<% if !mobile_device? %>

 <h4 style="text-align: center"><%= Time.now.strftime("%A, %d of %B, %Y") %></h4>
 <br><br>



<h4 style="text-align: center">Dublin Airport - Wexford at 15:30</h4>
        <center><h6>(Number of reservations : <%= @reservations_for_540.length %>)</h6></center>

<% if @reservations_for_540.length != 0 %>

    <table class="table table-bordered">
      <th>Pick up</th>
      <th>Time </th>
      <th>User</th>







      <% @reservations_for_540.each do |reservation| %>
          <tr>
                <td><%= reservation.origin %><br></td>
                <td><%= reservation.time %><br></td>
                <td><%= reservation.user %><br></td>

       </tr>

      <% end %>

    </table>

<% end %>


<h4 style="text-align: center">Dublin Airport - Wexford at 16:30</h4>
<center><h6>(Number of reservations : <%= @reservations_for_545.length %>)</h6></center>
<% if @reservations_for_545.length != 0 %>

        <table class="table table-bordered">
          <th>Pick up</th>
          <th>Time </th>
          <th>User</th>






          <% @reservations_for_545.each do |reservation| %>
              <tr>
                    <td><%= reservation.origin %><br></td>
                    <td><%= reservation.time %><br></td>
                    <td><%= reservation.user %><br></td>

           </tr>

          <% end %>

        </table>


<% end %>







<h4 style="text-align: center">Swords Road - Wexford at 17:00</h4>
<center><h6>(Number of reservations : <%= @reservations_for_550.length %>)</h6></center>
<% if @reservations_for_550.length != 0 %>


    <table class="table table-bordered">
      <th>Pick up</th>
      <th>Time </th>
      <th>User</th>






      <% @reservations_for_550.each do |reservation| %>
          <tr>
                <td><%= reservation.origin %><br></td>
                <td><%= reservation.time %><br></td>
                <td><%= reservation.user %><br></td>

       </tr>

      <% end %>

    </table>


<% end %>








<h4 style="text-align: center">Dublin Airport - Wexford at 17:15</h4 >
<center><h6>(Number of reservations : <%= @reservations_for_555.length %>)</h6></center>
<% if @reservations_for_555.length != 0 %>


    <table class="table table-bordered">
      <th>Pick up</th>
      <th>Time </th>
      <th>User</th>






      <% @reservations_for_555.each do |reservation| %>
          <tr>
                <td><%= reservation.origin %><br></td>
                <td><%= reservation.time %><br></td>
                <td><%= reservation.user %><br></td>

       </tr>

      <% end %>

    </table>


<% end %>




 <% else %>


<!-- MOBILE DEVICE -->

 <h4><%= Time.now.strftime("%A, %d of %B, %Y") %></h4>


 <a>Dublin Airport - Wexford at 15:30</a>
 <h6>Number of reservations: <%= @reservations_for_540.length %></h6>


<% if @reservations_for_540.length != 0 %>

 <table class="table table-condensed" id="mobile-table-full-margins" style="word-wrap: normal">
             <th>Pick up</th>
             <th>Time </th>
             <th>User</th>

       <% @reservations_for_540.each do  |reservation| %>
           <tr>
                                 <td><%= reservation.origin %><br></td>
                                 <td><%= reservation.time %><br></td>
                                 <td><%= reservation.user %><br></td>

           </tr>

       <% end %>

     </table>


  <% end %>



<a>Dublin Airport - Wexford at 16:30</a>
<h6>Number of reservations: <%= @reservations_for_545.length %></h6>


<% if @reservations_for_545.length != 0 %>

<table class="table table-condensed" id="mobile-table-full-margins" style="word-wrap: normal">
                <th>Pick up</th>
                <th>Time </th>
                <th>User</th>
           <% @reservations_for_545.each do  |reservation| %>
               <tr>
                                        <td><%= reservation.origin %><br></td>
                                        <td><%= reservation.time %><br></td>
                                        <td><%= reservation.user %><br></td>

               </tr>

           <% end %>

</table>


<% end %>






 <a>Swords Road - Wexford at 17:00</a>
 <h6>Number of reservations: <%= @reservations_for_550.length %></h6>

<% if @reservations_for_550.length != 0 %>

          <table class="table table-condensed" id="mobile-table-full-margins" style="word-wrap: normal">
                         <th>Pick up</th>
                         <th>Time </th>
                         <th>User</th>



                    <% @reservations_for_550.each do  |reservation| %>
                        <tr>
                                                 <td><%= reservation.origin %><br></td>
                                                 <td><%= reservation.time %><br></td>
                                                 <td><%= reservation.user %><br></td>

                        </tr>

                    <% end %>

                  </table>

<% end %>





<a>Dublin Airport - Wexford at 17:15</a>
 <h6>Number of reservations: <%= @reservations_for_555.length %></h6>
<% if @reservations_for_555.length != 0 %>

                  <table class="table table-condensed" id="mobile-table-full-margins" style="word-wrap: normal">
                                           <th>Pick up</th>
                                           <th>Time </th>
                                           <th>User</th>



                                      <% @reservations_for_555.each do  |reservation| %>
                                          <tr>
                                                                   <td><%= reservation.origin %><br></td>
                                                                   <td><%= reservation.time %><br></td>
                                                                   <td><%= reservation.user %><br></td>

                                          </tr>

                                      <% end %>

                                    </table>


<% end %>



 <% end %>

</br></br></br>
    <p> <a id="home_button" class="btn btn-primary" href="/home" role="button">Home</a></p>
</br></br></br>
<% end %>

<% else %>

<% flash[:error] = "You need administrator or driver account to view this page" %>

<% end %>

