<% if admin %>
<p>Create New Reservation</p>

<%= form_for Reservation.new, :as => :reservation, :url => create_reservation_path do |f| %>
    <p>
      <%= f.label 'origin:' %><br/>
      <%= f.text_field :origin, :id => "input_fields" %>
    </p>

    <p>
      <%= f.label 'destination:' %><br/>
      <%= f.text_field :destination, :id => "input_fields" %>
    </p>

    <p>
      <%= f.label 'time:' %><br/>
      <%= f.text_field :time, :id => "input_fields" %>
    </p>

    <p>
      <%= f.label 'date:' %><br/>
      <%= f.text_field :date, :id => "input_fields" %>
    </p>

    <p>
      <%= f.label 'user:' %><br/>
      <%= f.text_field :user, :id => "input_fields" %>
    </p>

    <p>
      <%= f.submit 'Create New Reservation' %>&nbsp;&nbsp;&nbsp;
      <%= f.submit 'Clear Form', :type => 'reset' %>
    </p>

<% end %>

    </br></br></br>
    <p> <a id="home_button" class="btn btn-primary" href="/home" role="button">Home</a></p>
    </br></br></br>

<% else %>

<% flash[:error] = "You need administrator account to view this page" %>

<% end %>