<!DOCTYPE html>

<html style="height: 100%">
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <link rel="shortcut icon" href="http://wexfordbus.com/wp-content/themes/wexford-bus/images/button.png">



  <title>Wexford Bus Seat Reservation</title>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>

  <% #Warning Messages%>
  <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
        <a class="close" data-dismiss="alert">×</a>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
          </div>
  <% end %>

</head>


<!-- THIS IS THE CODE FOR DESKTOP -->

<% if !mobile_device? %>

<body style="background-color: #eeeeee; ">
<div class="Ctr ">
  <div id="Hed">
    <div id="Logo">
      <a href="/home"><img src="http://wexfordbus.com/wp-content/themes/wexford-bus/images/wexfordbus_logo.gif" /></a>
    </div><!-- end #Logo -->

    <div id="HedRight">

      <div id="SocialMedia">
        <ul>
          <li class="Fb"><a href="http://www.facebook.com/WexfordBus" target="_blank"><img src="http://wexfordbus.com/wp-content/themes/wexford-bus/images/facebook_icon.gif" /></a></li>
          <li class="Tw"><a href="http://www.twitter.com/wexfordbus" target="_blank"><img src="http://wexfordbus.com/wp-content/themes/wexford-bus/images/twitter_icon.gif" /></a></li>
        </ul>
      </div><!-- end #SocialMedia -->
      <div id="Tagline">
        <h2>Wexford Bus Seat Reservation System</h2>
      </div>

    </div><!-- end #HedRight -->
  </div><!-- end #Hed -->

  <div id="Body">

    <div id="Options">

      <%= yield %>

    </div>


  </div>

  <div id="Foot">
    <div id="FootNav">
      <div class="menu-foot-container"><ul id="menu-foot" class="menu"><li id="menu-item-351" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-315 current_page_item menu-item-351"><a href="http://wexfordbus.com/">Wexford Bus Homepage</a></li>
      </ul></div>        </div><!-- end #FootNav -->

    <div id="FootCon">
      <ul>
        <li><a href="mailto:info@imeallsoftware.com">Operated by Imeall Software</a></li>
      </ul>
    </div><!-- end #FootCon -->
  </div>

</div><!-- end #Ctr -->


    </body>

<!-- THIS IS THE CODE FOR PHONE -->

<% elsif mobile_device? %>

<body>
<div class="row" id="mobile_background">
  <div class="col-md-12">

    <a href="/home"><img src="http://wexfordbus.com/wp-content/themes/wexford-bus/images/wexfordbus_logo.gif" id="mobile_logo" /></a>

    <div id="mobile-options">

      <%= yield %>

    </div>

  </div>
</div>

</body>
<% end %>






</html></html>